@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

/* Page Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0 0;
  font-size: 12px;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: arial;
  font-weight: bold;
}

h3 {
  color: hsl(238, 29%, 16%);
}
/* class styling */
.master-container {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.faq-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  height: 70%;
  width: 90%;
  margin-top: 20%;
  justify-content: space-around;
  align-self: center;
  position: fixed;
  border-radius: 20px 20px;
}

/* .faq {
  width: 100%;
  text-align: center;
  align-self: flex-end;
  color: hsl(238, 29%, 16%);
  font-size: 35px;
  padding: 0 0 20px 0;
  font-family: arial;
  font-weight: bold;
} */

.question-container {
  width: 100%;
  text-align:justify;
  padding: 5px 5px;
}

.question {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  font-family: "Kumbh+Sans:wght@700";
}

.answer {
  width: 90%;
  justify-content: center;
}

.woman {
  margin-top: -135px;
  filter: drop-shadow(0 30px 0 hsl(240, 5%, 91%));

}

.chevron {
margin-left: auto;
}

.answer {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 700px) {


  .woman {
    width: 50%;
    align-self: center;
    margin-left: -15%;
  }

  .question-container {
    height: 100%;
    width: 50%;
  }

  /* .faq {
    width: 33%;
    height: 30%;
  } */
}
